* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-between {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#app {
  min-height: 100vh;
}
#app header nav {
  background: #000;
  line-height: 40px;
}
#app header nav .container {
  display: flex;
  justify-content: space-between;
}
#app header nav .container .log i {
  color: #fff;
  width: 40px;
  height: 40px;
}
#app header nav .container menu {
  display: flex;
}
#app header nav .container menu .menu {
  padding: 0 10px;
}
#app header nav .container menu .menu a {
  text-decoration: none;
  color: #fff;
}
#app header .banner img {
  width: 100%;
  height: 300px;
}
#app main {
  margin: 10px auto;
}
#app main .container {
  height: 200px;
  background: #f00;
}
#app footer {
  background: #000;
}
#app footer .container {
  overflow: hidden;
}
#app footer .container p {
  color: #fff;
  height: 35px;
  line-height: 35px;
  float: right;
}
